.git
.github
.gitignore
README.md
LICENSE
unraid

data
*.db
*.sqlite3

node_modules
src/frontend/dist
src/frontend/dev-dist

tests
.pytest_cache
.venv
.venv-test
venv
__pycache__
*.pyc

.vscode
.idea
